<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSTUsingSystemIO</key>
	<string>Yes</string>
	<key>DSDT</key>
	<string>/Extra/dsdt.aml</string>
	<key>Default Partition</key>
	<string>hd(0,5)</string>
	<key>DropSSDT</key>
	<string>Yes</string>
	<key>EnableBacklight</key>
	<string>Yes</string>
	<key>EnableC2State</key>
	<string>Yes</string>
	<key>EnableC3State</key>
	<string>Yes</string>
	<key>EnableC4State</key>
	<string>Yes</string>
	<key>EnableHDMIAudio</key>
	<string>Yes</string>
	<key>EthernetBuiltIn</key>
	<string>Yes</string>
	<key>ForceHPET</key>
	<string>Yes</string>
	<key>GenerateCStates</key>
	<string>Yes</string>
	<key>GeneratePStates</key>
	<string>Yes</string>
	<key>Graphics Mode</key>
	<string>1366x768x32</string>
	<key>GraphicsEnabler</key>
	<string>Yes</string>
	<key>HDAEnabler</key>
	<string>Yes</string>
	<key>Kernel</key>
	<string>mach_kernel</string>
	<key>Kernel Flags</key>
	<string>npci=0x3000 -force64</string>
	<key>Legacy Logo</key>
	<string>Yes</string>
	<key>SMBIOS</key>
	<string>/Extra/smbios.plist</string>
	<key>ShowInfo</key>
	<string>Yes</string>
	<key>SkipAtiGfx</key>
	<string>Yes</string>
	<key>SystemType</key>
	<string>2</string>
	<key>Theme</key>
	<string>Embed</string>
	<key>Timeout</key>
	<string>2</string>
	<key>UseKernelCache</key>
	<string>Yes</string>
	<key>Wake</key>
	<string>Yes</string>
	<key>display_1</key>
	<string></string>
</dict>
</plist>
